**1/ Show the first 5 lines of tsv file.**

In [1]:
import pandas as pd

df = pd.read_csv('04_gap-merged.tsv', sep='\t')

print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

**2/ Find the number of row and column of this file.**

In [2]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 3312
Number of columns: 6

**3/ Print the name of the columns.**

In [3]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

**4/ What is the type of the column names?**

In [4]:
print(type(df.columns))

<class 'pandas.core.indexes.base.Index'>

**5/ Get the country column and save it to its own variable. Show the first 5 observations.**

In [5]:
country_columns = df['country']

print(country_columns.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

**6/ Show the last 5 observations of this column.**

In [6]:
print(country_columns.tail())

3307    Zimbabwe
3308    Zimbabwe
3309    Zimbabwe
3310    Zimbabwe
3311    Zimbabwe
Name: country, dtype: object

**7/ Look at country, continent and year. Show the first 5 observations of these columns, and the last 5 observations.**

In [7]:
subset = df[['country', 'continent', 'year']]

print(subset.head())
print(subset.tail())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
3307  Zimbabwe    Africa  1987
3308  Zimbabwe    Africa  1992
3309  Zimbabwe    Africa  1997
3310  Zimbabwe    Africa  2002
3311  Zimbabwe    Africa  2007

**8/ How to get the first row of tsv file? How to get the 100th row.**

In [8]:
first_row = df.iloc[0]
print(first_row)

row_100 = df.iloc[99]
print(row_100)

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
country        Australia
continent            NaN
year                1977
lifeExp            73.49
pop             14074100
gdpPercap    18334.19751
Name: 99, dtype: object

**9/ Try to get the first column by using a integer index. And get the first and last column by passing the integer index.**

In [9]:
first_column = df.iloc[0]
print(first_column)

LastFirst_column = df.iloc[:, [0, -1]]
print(LastFirst_column)

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
          country   gdpPercap
0     Afghanistan  779.445314
1     Afghanistan  820.853030
2     Afghanistan  853.100710
3     Afghanistan  836.197138
4     Afghanistan  739.981106
...           ...         ...
3307     Zimbabwe  706.157306
3308     Zimbabwe  693.420786
3309     Zimbabwe  792.449960
3310     Zimbabwe  672.038623
3311     Zimbabwe  469.709298

[3312 rows x 2 columns]

**10/ How to get the last row with .loc? Try with index -1? Correct?**

In [7]:
# .loc is for **label base indexing**, it will not work it index -1
last_row = df.iloc[-1]
print(last_row)

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 3311, dtype: object

**11/ How to select the first, 100th, 1000th rows by two methods?**

In [6]:
# .iloc

rows_0 = df.iloc[[0,99,999]]
print(rows_0)

# a loop with .iloc

rows_1 = pd.concat([df.iloc[0], df.iloc[99], df.iloc[999]], axis = 1) 
print(rows_1)

         country continent  year  lifeExp       pop     gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333    779.445314
99     Australia       NaN  1977   73.490  14074100  18334.197510
999      Finland    Europe  1964   69.370   4548544  10042.219300
                   0            99          999
country    Afghanistan    Australia     Finland
continent         Asia          NaN      Europe
year              1952         1977        1964
lifeExp         28.801        73.49       69.37
pop            8425333     14074100     4548544
gdpPercap   779.445314  18334.19751  10042.2193

**12/ Get the 43rd country in our data using .loc, .iloc?**

In [12]:
country_43rd = df.iloc[42]
print(country_43rd)

# .loc (only print out the name of the country)
country_43rd_loc = df.loc[42]['country']
print(country_43rd_loc)

country           Angola
continent         Africa
year                1982
lifeExp           39.942
pop              7016384
gdpPercap    2756.953672
Name: 42, dtype: object
Angola

**13/ How to get the first, 100th, 1000th rows from the first, 4th and 6th columns?**

In [13]:
# the first bracket is for the row, the second bracket is for the columns output

subset = df.iloc[[0,99,999], [0, 3, 5]]
print(subset)

         country  lifeExp     gdpPercap
0    Afghanistan   28.801    779.445314
99     Australia   73.490  18334.197510
999      Finland   69.370  10042.219300

14/ Get first 10 rows of our data (tsv file)?

In [14]:
First_10_rows = df.head(10)
print(First_10_rows)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

15/ For each year in our data, what was the average life expectation?

In [15]:
Avg_life_exp = df.groupby('year')['lifeExp'].mean()
print(Avg_life_exp)

year
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: lifeExp, dtype: float64

16/ Using subsetting method for the solution of 15/?

In [8]:
# Subsetting and calculating average life expectancy
life_exp_subset = df[['year', 'lifeExp']]
avg_life_expectancy_per_year = life_exp_subset.groupby('year').mean()
print(avg_life_expectancy_per_year)

        lifeExp
year
1950  62.002568
1951  65.904167
1952  49.206867
1953  66.674563
1954  67.459817
1955  67.806757
1956  67.950637
1957  51.614590
1958  68.815936
1959  68.226579
1960  68.470837
1961  68.862480
1962  54.035234
1963  69.595735
1964  70.063105
1965  70.259881
1966  70.447526
1967  56.263629
1968  70.689081
1969  70.653896
1970  70.961141
1971  71.103976
1972  58.474481
1973  71.500338
1974  71.778504
1975  71.939218
1976  72.158050
1977  60.429090
1978  72.717567
1979  73.018717
1980  73.064524
1981  73.337399
1982  62.365871
1983  73.787778
1984  74.100741
1985  74.112222
1986  74.452222
1987  63.984860
1988  74.760000
1989  74.924444
1990  74.283438
1991  74.374848
1992  65.008443
1993  74.324545
1994  74.456667
1995  74.552727
1996  75.029394
1997  65.873799
1998  75.569697
1999  75.703636
2000  76.026364
2001  76.257879
2002  66.835695
2003  76.586667
2004  76.921562
2005  76.718667
2006  77.887778
2007  67.868557

17/ Create a series with index 0 for ‘banana’ and index 1 for ’42’?

In [17]:
My_Series = pd.Series(['banana', 42], index = [0,1])
print(My_Series)

0    banana
1        42
dtype: object

18/ Similar to 17, but change index ‘Person’ for ‘Wes MCKinney’ and index ‘Who’ for ‘Creator of Pandas’?

In [18]:
my_fix_series = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(my_fix_series)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

19/ Create a dictionary for pandas with the data as ‘Occupation’: [’Chemist’, ’Statistician’], ’Born’: [’1920-07-25’, ’1876-06-13’],’Died’: [’1958-04-16’, ’1937-10-16’],’Age’: [37, 61] and the index is ‘Franklin’,’Gosset’ with four columns as indicated.

In [9]:
# dictionary
data = {
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
}

# df with custome index
df = pd.DataFrame(data, index=['Franklin', 'Gosset'])
print(df)

            Occupation        Born        Died  Age
Franklin       Chemist  1920-07-25  1958-04-16   37
Gosset    Statistician  1876-06-13  1937-10-16   61